<div class="card text-center">
  <div class="card-body mb-5">
    <h3 class="mb-4"><i class="far fa-sad-tear mr-2"></i>很遺憾，沒有符合搜尋的結果</h3>
    <a href="/" class="btn btn-primary">
      <i class="fas fa-arrow-circle-left mr-2"></i>Back
    </a>
  </div>
</div>